* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.inputRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

input {
}

#submitBtn {
  align-self: center;
  padding: 5px;
  margin-top: 20px;
}
